body {
	background-color: lightslategrey;
    
      }
    
      hr{
	border-style: none;
	border-top-style: solid;
	background-color: white;
	border-width: px;
	height: 30;
	width: 6%;
    
      }
      h1 { color: white; }
      h3 {color:white }
    
    
    .test_class{
    
    }
    