body {
	background-color: grey;
    
      }
    
      hr{
	border-style: none;
	border-top-style: dotted;
	background-color: lightblue;
	border-width: px;
	height: 12px;
	width: 4%;
    
      }
      h1 { color: white; }
      h3 {color:white }
    
    
    .test_class{
    
    }
    